* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(19, 31, 37, 1);
  // background-color: #8bc6ec;
  // background-image: -moz-linear-gradient(to right top, #f7971e, #ffd200);
  // background-image: -webkit-linear-gradient(to right top, #f7971e, #ffd200);
  // background-image: -o-linear-gradient(to right top, #f7971e, #ffd200);
  // background-image: linear-gradient(to right top, #f7971e, #ffd200);
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}

// rgba(19,31,37,1)

.container {
  grid-column: 2/3;
}

header {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  background: linear-gradient(to bottom, #e2e7dd, #dcebd0f5);
  background: -webkit-linear-gradient(to bottom, #e2e7dd, #dcebd0f5);
  background: -moz-linear-gradient(to bottom, #e2e7dd, #dcebd0f5);
  background: -o-linear-gradient(to bottom, #e2e7dd, #dcebd0f5);
  background: -webkit-gradient(linear, #e2e7dd, #dcebd0f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.k,
.o1,
.a1,
.p1,
.p2,
.d,
.o2,
.b1,
.y,
.t2,
.h,
.e,
.b2,
.l,
.c,
.a2,
.t1 {
  display: inline-block;
  animation: bounce 2s linear forwards infinite;
}

@keyframes bounce {
  /*                 This commented codes just for test                 */
  /* from {  
        transform: translateY(5px) rotateX(0) rotateY(0);
    }
    to {
        transform: translateY(-10px) rotateX(25deg) rotateY(-15deg);
    } */
  0% {
    transform: translateY(0) rotateX(0) rotateY(0);
  }
  50% {
    transform: translateY(-10px) rotateX(25deg) rotateY(-15deg);
  }
  100% {
    transform: translateY(0) rotateX(0) rotateY(0);
  }
}

.o1 {
  display: inline-block;
  animation-delay: 0.1s;
}

.a1 {
  display: inline-block;
  animation-delay: 0.2s;
}

.p1 {
  display: inline-block;
  animation-delay: 0.3s;
}

.p2 {
  display: inline-block;
  animation-delay: 0.4s;
}

.d {
  display: inline-block;
  animation-delay: 0.5s;
}

.o2 {
  display: inline-block;
  animation-delay: 0.6s;
}

.b1 {
  display: inline-block;
  animation-delay: 0.7s;
}

.y {
  display: inline-block;
  animation-delay: 0.8s;
}

.t2 {
  display: inline-block;
  animation-delay: 0.9s;
}

.h {
  display: inline-block;
  animation-delay: 1s;
}

.e {
  display: inline-block;
  animation-delay: 1.1s;
}

.b2 {
  display: inline-block;
  animation-delay: 1.2s;
}

.l {
  display: inline-block;
  animation-delay: 1.3s;
}

.a2 {
  display: inline-block;
  animation-delay: 1.4s;
}

.c {
  display: inline-block;
  animation-delay: 1.5s;
}

.t1 {
  display: inline-block;
  animation-delay: 1.6s;
}

form {
  width: 100%;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  background: white;
  color: white;
  padding: 15px 25px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1), 4px -4px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  appearance: none;
}

form input {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.7);
}

form input::placeholder {
  color: white;
}

form input:focus {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form button {
  color: #f33500;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.4s ease;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: green;
}

.todo-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  margin: 40px auto;
}

.todo-list {
  min-width: 30%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.filter-todo {
  padding: 1rem;
  margin: 0;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #f33500;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(24, 114, 54);
}
.todo-item {
  padding: 0rem 0.5rem;
  position: relative;
  overflow-x: auto;
  word-spacing: no-wrap;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(-6rem) scale(0.5);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
  user-select: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem 0 1rem 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 14rem;
  height: 53px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3), 4px -4px 15px rgba(0, 0, 0, 0.3);
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.95);
  cursor: pointer;
  pointer-events: none;
  display: flex;
  height: 68px;
}

// Responsive styles

@media (max-width: 1355px) {
  body {
    grid-template-columns: 2% 1fr 2%;
  }

  header {
    font-size: 1rem;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .todo-container {
    width: 100%;
  }

  .todo {
    font-size: 16px;
  }

  form input,
  form button {
    font-size: 16px;
  }

  .complete-btn,
  .trash-btn {
    font-size: 16px;
  }

  .trash-btn,
  .complete-btn {
    height: 35px;
    padding: 8px;
  }
}

@media (max-width: 990px) {
  body {
    grid-template-columns: 1fr;
  }

  .container {
    grid-column: 1/2;
    width: 90%;
  }
}

@media (max-width: 680px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 620px) {
  .container {
    width: 98%;
  }
}

@media (max-width: 600px) {
  header {
    font-size: 0.7rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  form input {
    width: 80%;
  }

  form button {
    width: 20%;
  }

  .todo-container {
    margin-top: 60px;
  }
}

@media (max-width: 340px) {
  header {
    font-size: 0.5rem;
  }

  form button,
  form input {
    padding: 0.5rem 0.3rem;
  }

  .todo {
    height: 25px;
  }

  .trash-btn,
  .complete-btn {
    height: 25px;
    padding: 3px;
  }
}
